.vscode/
# Environments
.venv/
venv/
env/
.env
.env/

uv.lock


# Python Cache
__pycache__/
*.pyc
*.py[cod]
.ipynb_checkpoints/

# Mac Junk Files
.DS_Store

data/*
!data/.gitkeep

# AI Tools and folders
claude/
.claude/

tasks/

human_skills/